@model Carreteras.tb_usuarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usu_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_fecha_crea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_fecha_crea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_fecha_modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_fecha_modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_usuarios2.usu_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_usuarios2.usu_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_usuarios3.usu_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_usuarios3.usu_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
